body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Gill Sans", fantasy;
  font-variant: small-caps;
  color: rgb(141, 0, 0);
}
h3 {
  font-family: "Gill Sans", fantasy;
  font-variant: small-caps;
}
h4 {
  font-weight: 350;
}

h5 {
  font-family: "Gill Sans", fantasy;
  font-size: 40px;
  font-weight: 700;
  font-variant: small-caps;
  font-stretch: expanded;
}

header h2 {
  color: rgb(83, 83, 83);
}

footer {
  background-color: rgb(134, 0, 0);
  padding: 20px 0;
  text-emphasis-color: white;
}

.jumbotron {
  margin: 0;
  background-color: white;
  color: black;
  padding-top: 0;
  padding-bottom: 0;
  
}

.navbar {
  background-color: rgb(134, 0, 0);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid black;
}

.card3 {
  border: none;
}

.smalllogo {
@media only screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}
}